| Topic | Description |
| ----------- | ----------- |
| [Series](#Series) | Series is a one-dimensional labeled array capable of holding any data type (integer, string, float, etc.). It is similar to a column in a spreadsheet or a simple data structure like a list or an array |
| [Labels](#Labels) | Label refers to the unique identifier associated with each element in a Series or DataFrame. It acts as an index or key that allows for easy identification and retrieval of specific data points. |
| [key:Value Objects as Series](#Value-Objects-as-Series) | Converting python dictionaries from python into pandas data frames |
| [Pandas Data Frame](#Pandas-Data-Frame) | Learn to convert dictionaries that include a key as the label, and array stored as the values to create a pandas DataFrame |
| [Locate Row](#Locate-Row) | Learn to call the loc method to retrieve rows bases on indices |
| [Locate Named Indexes](#Locate-Named-Indexes) | Learn how to create use the loc method to retrieve rows using named indices |
| [Read CSV Files](#Read-CSV-Files) | Learn how to load in CSV files as a pandas Data Frame |
| [Head Method](#Head-Method) | Learn how to use the head function to retrieve a sample size of a larger data set |
| [Viewing All Data](#Viewing-All-Data-Using-to_string()) | using to_string method to output the entirety as a data set |

In [2]:
import pandas as pd

#### Series
A series a column in a table. It is a one dimensional array holding any type of data

In [ ]:
# Here we create an array myList, then pass it through Series function from pandas create a series that also includes a an index 
myList = [1,6,4]
mySeries = pd.Series(myList)
mySeries

#### Labels

In [ ]:
# notice how we can retrieve an element from the series by calling its index
mySeries[1]

In [ ]:
# In this program instead of retrieving and element from series using the index, we are going to assign labels to the values then retrieve the data
mySeries2 = pd.Series([1,4,2,], index = ["x","y","z"])
mySeries2

In [ ]:
# Now we can access them using a the label name
mySeries2["y"]

#### key:Value-Objects-as-Series

In [ ]:
# we can use dictionaries to create series and in this case the keys become the labels
myDict = {"dog1":"Lyra", "dog2":"Jayce", "dog3":"Jodi", "dog4":"Ellie"} 
mySeries3 = pd.Series(myDict, index=["dog1", "dog2","dog3"]) # notice how we can select which key/pair values we want to be apart of our new series

print(f'This is our dictionary turned in a pandas series \n{mySeries3}')

In [ ]:
# We can also now retrieve a value from our series using a the dictionary key which is now the label
mySeries3['dog3']

#### Pandas-Data-Frame

In [ ]:
# A pandas data frame is a two dimensional structure

In [ ]:
# here we use a python dictionary where the keys are our labels and the values are arrays holding our column values. We pass the 'data' object through the DataFrame function
data = {
    "calories":[433,554,634,154],
    "duration":[10,12,17,3],
    "pulse":[110,134,166,87]
}

dataFrame = pd.DataFrame(data)
dataFrame

#### Locate-Row

In [ ]:
# To locate a row from a pandas data frame using the Index value we can call the loc method
dataFrame.loc[0]

In [ ]:
# If you want the output to also be in the pandas data frame format you can use two brackets
dataFrame.loc[[0,2]] # you can also now pass multiple indices

#### Locate-Named-Indexes

In [ ]:
data2 = {
    "calories":[433,554,634,154],
    "duration":[10,12,17,3],
    "pulse":[110,134,166,87]
}
df = pd.DataFrame(data2, index=['day1', 'day2', 'day3', 'day4'])
df

In [ ]:
df.loc[['day2']]

#### Read-CSV-Files

In [ ]:
# Loading a csv file
df2 = pd.read_csv('kaggleTitanicTestDataSet.csv')
df2

##### Reading in a csv file using a url link

In [3]:
df3 = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True) # you can pass the skipinitialspace argument to remove any unnecessary blank spaces.
df3

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

#### Head-Method

In [ ]:
numberOfRows = input("how many rows would you like you like to view?: ")
df2.head(int(numberOfRows))

#### Viewing-All-Data-Using-to_string()

In [ ]:
print(df2.to_string())

### Cleaning Data

#### Dealing-With-Empty-Cells

In [53]:
df2.dropna(inplace=True) # the dropna method finds and removes all the empty cells and passing inplace=True applies changes to the original data frame. this way you dont have to assign the line of code to a new variable.